<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Мои манагеры</h1>
    <p>ЛУчшие манагеры блаблаббла</p>
    <a href="me">Я</a>
    <a href="op">ОП</a>
    <a href="classmates">Одноклассники</a>
    <a href="managers">Манагеры</a>
    <a href="/algo">Вычисления</a>
    <p>{{ managers}}</p>
    <div class="team">
        {% for i in managers %}
        <div class="team-member">
            <p>{{i.image.url}}</p>
            <img src="{{i.image.url}}" alt="Менеджер" class="team-photo">
            <div class="team-name"> {{i.fio}} </div>
            {{ i.html_block|safe }}
        </div>
        {% endfor %}
    </div>

</body>
</html>